.root {
    

}
.divider {
    position: relative;
    width: 100%;
    height: 1px;
    margin: 24px 0;
    background-color: rgb(229, 231, 235);
    border-top-color: rgb(229, 231, 235);
    border-top-style: solid;
    border-top: 1px;
    text-rendering: optimizelegibility;
    box-sizing: border-box;
}

.dividerText {
    position: absolute;
    background-color: #fff;
    transform: translateY(-50%);
    padding: 0 20px;
    font-weight: 500;
    font-size: 14px;
}

.divierTextLeft {
    left: 20px;
    transform: translateY(-50%);
}

.divierTextCenter {
    left: 50%;
    transform: translate(-50%) translateY(-50%);
}

.divierTextRight {
    right: 20px;
    transform: translateY(-50%);
}

